.Carousel {
  display: flex;
  align-items: center;
  width: 62vw;
  height: 20rem;
  overflow: hidden;
}

.CarouselCon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.item {
  height: 19rem;
  min-width: 14rem;
  background-color: rgb(22, 22, 22);
  padding: 1rem;
  border-radius: 0.35rem;
  cursor: pointer;
}

.items {
  cursor: pointer;
}

.item:hover {
  background-color: rgb(33, 33, 33);
  transition: all 0.3s ease-in-out;
}

.image {
  height: 9.5rem;
  background-image: url("/assets/pageImages/header.jpg");
  background-size: cover;
  border-radius: 0.35rem;
}

.price,
.title {
  font-size: 0.95rem;
  font-weight: 500;
}

.tutor {
  font-size: 0.9rem;
  color: #d0d0d0;
}

.rating,
.price,
.title,
.tutor {
  margin-top: 0.5rem;
}

/*@keyframes lift {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-0.5rem);
    opacity: 1;
  }
}*/

.addToFavs {
  position: relative;
  bottom: 3rem;
  left: 9rem;
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  width: 3rem;
  background-color: var(--theme);
  color: rgb(22, 22, 22);
  border-radius: 2rem;
  box-shadow: rgb(0, 0, 0) 0px 7px 15px;
  cursor: pointer;
  /*animation: lift 0.4s ease-in-out;*/
}

.hideADF {
  display: none;
}

.arrow {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  right: 0rem;
  padding: 0.8rem;
  background-color: var(--bgSec);
  color: var(--theme);
  border-radius: 2rem;
  cursor: pointer;
  z-index: 1;
}

.arrow:hover {
  background-color: var(--theme);
  color: rgb(22, 22, 22);
  transition: all 0.3s ease-in-out;
}
