.Header {
  display: grid;
  place-items: center;
  height: 3.5rem;
  width: 100vw;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.headerCon {
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 3.5rem;
  height: inherit;
}

.logo {
  position: relative;
  right: 21.5rem;
  top: 0.2rem;
}

.search {
  position: relative;
  top: 0.35rem;
}

.search > input {
  height: 2.1rem;
  width: 30rem;
  position: relative;
  top: 0.2rem;
  color: #494949;
  background-color: transparent;
  padding: 0.5rem;
  outline: none;
  border: 1px #000 solid;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.search > input::placeholder {
  color: #494949;
}

.search > button {
  height: 2.1rem;
  width: 2.5rem;
  position: relative;
  top: 0.35rem;
  color: #fff;
  background-color: #000;
  border: none;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.profile {
  position: relative;
  top: 1.2rem;
  left: 29rem;
  display: flex;
  justify-content: space-between;
  width: 8rem;
}

.profile > span:hover,
.profile > svg:hover {
  color: var(--mainColor);
  cursor: pointer;
}
