.Header {
  position: fixed;
  top: 0;
  left: 1rem;
  place-items: center;
  height: 3.5rem;
  width: 100%;
  background-color: var(--bg);
  border-bottom: 1px solid #000;
  z-index: 5;
}

.headerCon {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: inherit;
}

.search {
  position: relative;
  top: 0.35rem;
  left: 35rem;
}

.search > input {
  height: 2.1rem;
  width: 15rem;
  position: relative;
  top: 0.2rem;
  color: #6d6c6c;
  background-color: rgba(10, 10, 10, 0.808);
  padding: 0.5rem;
  outline: none;
  border: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.search > input::placeholder {
  color: #777;
}

.search > button {
  height: 2.1rem;
  width: 2.5rem;
  position: relative;
  top: 0.35rem;
  color: #fff;
  background-color: rgba(10, 10, 10, 0.808);
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.profile {
  position: relative;
  top: 1.2rem;
  display: flex;
  justify-content: space-between;
  width: 8rem;
}

.profile > span:hover,
.profile > svg:hover {
  color: var(--mainColor);
  cursor: pointer;
}
