.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 8rem;
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: 100vh;
  background-color: var(--bgThird);
  grid-area: nav;
  overflow-x: hidden;
  z-index: 6;
}

.logo {
  position: absolute;
  top: 1.19rem;
  left: 0.65rem;
  cursor: pointer;
}

.logoDivider {
  position: relative;
  top: 0.74rem;
  right: 0.47rem;
  height: 0.1rem;
  width: 5rem;
  background-color: var(--bg);
}

.menuItem {
  display: flex;
  cursor: pointer;
}

.menuLabel {
  display: flex;
  position: relative;
  top: 0.85rem;
  right: 0.5rem;
  font-size: 1.05rem;
  font-weight: 500;
}

.icon {
  display: flex;
  position: relative;
  right: 1.5rem;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0.8rem;
  background-color: var(--bg);
  color: var(--theme);
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.divider {
  position: relative;
  right: 1rem;
  height: 0.1rem;
  width: 2rem;
  background-color: var(--bg);
  margin-bottom: 1rem;
}

.nav > ul > li:hover {
  background-color: var(--theme);
  color: var(--txt);
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.profile {
  position: absolute;
  left: 0.8rem;
  bottom: 1.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  color: var(--theme);
  cursor: pointer;
}
